@mixin mobile-xs{
  @media(max-width:400px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:575px){
    @content;
  }
}
@mixin tablet{
  @media(max-width:767px){
    @content;
  }
}
@mixin desktop{
  @media(max-width:991px){
    @content;
  }
}
@mixin desktop-lg{
  @media(max-width:1200px){
    @content;
  }
}
@mixin desktop-xl{
  @media(min-width:1201px){ // Overriden here
    @content;
  }
}

@mixin size($size){
  width: $size; height: $size;
}

/*
  Custom Overrides
*/
.navbar-brand {
  @media(max-width:767px){
    .img-fluid {
      max-width: 200px;
      margin-top: 10px;
    }
  }
}

// Blogs theme
.block a {
  color: #40ba84;
}
.block a:hover {
  color: #40ba84;
}
.block .btn-transparent{
  border-bottom: 1px solid #40ba84;
}

// Pagination theme
.pagination .page-item.active .page-link {
  background: #40ba84 !important;
}
.pagination .page-item .page-link:hover {
  background: #40ba84 !important;
}

// Button Theme
.btn-primary {
  background: #40ba84 !important;
  border-color: #40ba84 !important;
}
.btn-primary:active, .btn-primary:hover, .btn-primary.focus, .btn-primary.active {
  background: #40ba84 !important;
  border-color: #40ba84 !important;
}

// Footer navlinks Theme
.social-icon a{
  color: #40ba84 !important;
  border-color: #40ba84 !important;
}
.social-icon a:hover {
  background: #40ba84 !important;
  color: #fff !important;
}
.text-center {
  span{
    a{
      color: #40ba84 !important;
    }
  }
}